.contain {
    border: 1px solid blanchedalmond;
    /* height: 10vh; */
    width: 35vw;
}
.bord{
    border: 1.5px solid #797573;
    margin: 2vw;
}
.qnty {
    width: 3.5rem;
    height: 2rem;
    border-color: #F9A66C;
}

.btnqty {
    width: 26rem;
    height: 2.5rem;
    background-color: #F9A66C;
    color: wheat;
}

.btnqty:hover {
    background-color: #ce6f2a;

}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex1{
    /* display: flex; */
    
}
.table{
    margin: 2vw;
}

.addtocart{
    width: 8rem;
    height: 1.5rem;
    background-color: #F9A66C;
    color: wheat;
    float: right;
}
.addtocart:hover{
   
    background-color: #ce6f2a;
  
}
