.main {
  color: black;
  width: 20vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

}

.keywordSearch {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  /* justify-content: space-between; */

}

.sizeinput {
  width: 2vw;
  height: 3vh;
}

.updown {
  display: flex;
  flex-direction: column;
}