.main {
  color: black;
  width: 20vw;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  }
.search{
    width: 15vw;
    background-color: #0C1725;
    color:white ;
    
    border-radius: 0.5vw;
    height: 3vh;
    margin-top: 2vh;
    margin-left: 0.1vw;
  }
.searchinput{
    width: 15vw;
    height: 3vh;
    background-color: aliceblue;
  }
  
    .hr {
      width: 1.5vw;
      height: 0.5vh;
      margin-top: 35px;
      background-color: #F5976B;
    }

.flex {
  display: flex;
}
.keywordSearch {
    display: flex;
      flex-direction: column;
    }
.country{
  width: 15vw;
  height: 3vh;
  background-color: aliceblue;
}
.row {
  display: flex;
  /* justify-content: space-between; */
}

.sizeinput {
    width: 2vw;
      height: 3vh;
      background-color: aliceblue;
    }

.updown {
      display: flex;
        flex-direction: column;
      }
.p1{
  margin-bottom: 20px;
  width: 15vw;
}