.container{
    margin-top: 5vw;
    margin-left: 28vw;
    margin-right: 28vw;
    background-color: #EDEDED;
}
.head{
    color: #cc7953;
    margin: 5vw;
}
.para{
    margin: 5vw;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 5vw;
}
.subbtn{
    background-color:#cc7953 ;
    border-radius:6px ;
    height: 5vh;
    margin: 20px;
    color: white;

}
.subbtn:hover{
    background-color:#eb6526 ;
    border-radius:10px ;
    margin: 20px;
    color: black;

}
#Name{
    margin-top: 15px;
    width: 12vw;
    border-color:#e09b7b ;
    border-radius :2px ;

}
#Lname{
    width: 12vw;
    border-color:#e09b7b ;
    border-radius :2px ;
}
#item, #Email,#Phone,#Quantity,#tprice,#comments{
    border-color:#e09b7b ;
    border-radius :2px ; 
}