.detailedDesc{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pdfDetail{
    display: flex;
    max-height: 20vh;
    font-size: x-large;
    font-weight: 500;
    align-items: center;
}

#pdf{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 2rem;
}

#pdf img{
    padding: 2rem;
    max-height: 15vh;
}

.specification{
    min-width: 60%;
}

.specification table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.specification table tr{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.specification table tr th{
    font-size: x-large;
    font-weight: 700;
    font-stretch: wider;
    background-color: #F4976C;
}