*{
    margin: 0;
    padding: 0;
}

.container1{
    display: flex;
    justify-content: space-between;
}

/* Left Side */

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    position: relative;
    bottom: 2rem;
    left: 9rem;
    flex: 1;
    top: 1rem;
    z-index: -1;
}

.pimg{
    height: 13rem;
    width: 15rem;
}

.sizes{
    display: flex;
    flex-direction: column;
}

.sizes *{
    padding: 1rem;
}

.sizes * span{
    background-color: var(--teal);
    color: var(--white);
    display: inline-block;
    margin-right: 1rem;
}

.dataSheet{
    background-color: rgb(221, 225, 229);
    display: flex;
    flex-direction: column;
    height: 8rem;
}

.dataSheet img{
    height: 6rem;
    width: 6rem;
    padding: 1rem;
    position: relative;
    left: 2.8rem;
}

.quantity{
    margin-top: 4rem;
}


/* Right Side */

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    position: relative;
    top: 1rem;
    right: 5rem;
    bottom: 2rem;
    width: 100vw;
    flex: 3;
}

.right h1{
    background-color: var(--teal);
    color: var(--white);
    width: 100vh;

}

.right h3{
    font-weight: 1000;
    font-size: large;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.right h3 span{
    background-color: black;
    display: inline-block;
    margin-left: 4px;
    position: relative;
    top: 0.2rem;
    left: 0.2rem;
    height: 1.8rem;
    width: 1.8rem;
}

.right h2{
    width: 100vh;
    margin-bottom: 1rem;
}

.table1{
    width: 100vh;
}

.table{
    width: 100vh;
    padding: 2rem 0;
}

.cartBtn{
    width: 50vh;
}

.container Button{
    background-color: var(--teal);
    color: var(--white);
}

TableRow{
    height: 0.5rem;
}

@media (max-width: 1650px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .left{
        margin-bottom: 2rem;
    }

    .right{
        margin-left: 13rem;
        margin-bottom: 2rem;
    }
  }

@media (max-width: 752px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .left{
        margin-bottom: 2rem;
    }

    .right{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 26rem;
        margin-bottom: 2rem;
        width: 20vw;
    }
  }